@charset "utf-8";

@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

h1,
h2,
h3 {
  font-family: "Titillium Web", sans-serif;
}

.hero {
  background: #23153c;
}

.rounded-img {
  height: 260px;
  margin: 0 auto;
  border-radius: 50%;
}
#navbarMenuHeroA .navbar-start {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#my-hero-body {
  //   align-items: flex-start;
  flex-grow: 4;
}

.hero-foot {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding: 10px;
}

.hero-foot .columns:last-child {
  margin-bottom: 0;
}
