@charset "utf-8";

@import "../../node_modules/bulma/bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

$accentColor: #23153c;

h1,
h2,
h3 {
  font-family: "Titillium Web", sans-serif;
}

.hero {
  background: $accentColor;
}
.bg-accent {
  background: $accentColor;
  color: #fff;
}

.pricing {
  .plan-name {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background: $accentColor;
    transition: all 0.5s ease;
    & > * {
      color: #fff;
      line-height: 100px;
    }
  }

  &:hover {
    .plan-name {
      transform: scale(1.1);
    }
  }
}
.rounded-img {
  height: 260px;
  margin: 0 auto;
  border-radius: 50%;
}
#navbarMenuHeroA .navbar-start {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

#my-hero-body {
  //   align-items: flex-start;
  flex-grow: 4;
}

.hero-foot {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  padding: 10px;
}

.hero-foot .columns:last-child {
  margin-bottom: 0;
}
